.QuizPage {
  font-family: 'New Super Mario Font U', sans-serif;

}

.QuizPage h1{
  color: rgb(103, 66, 213);
  font-size: 80px;
  -webkit-text-stroke: 0.5px white;
}

@media (max-width: 480px) {
  .QuizPage h1{
    font-size: 40px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .QuizPage h1{
    font-size: 40px;
    padding: 2vh 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 1200px) and (max-width: 1919px){

}
@media (min-width: 1920px){

}
