.QuizPage {
  font-family: 'New Super Mario Font U', sans-serif;
  color: red;
}

.QuizPage h1{
  font-family: 'New Super Mario Font U', sans-serif;
  color: red;
  font-size: 80px;
  -webkit-text-stroke: 0.5px white;
}
