.HelpPage {
  font-family: 'New Super Mario Font U', sans-serif;
}

.HelpPage h1{
  font-size: 70px;
  color: rgb(103, 66, 213);
  -webkit-text-stroke: 0.5px rgb(56, 192, 95);
}

.HelpPage ol{
  flex-direction: column;
  text-align: center;
  list-style-position: inside;
  font-size: 40px;
  color: rgb(56, 192, 95);
}

.HelpPage li {
  padding: 15px;
}

.HelpPage button {
  font-family: 'New Super Mario Font U', sans-serif;
  background-color: black;
  border: rgb(103, 66, 213) solid 3px;
  color: rgb(103, 66, 213);
  border-radius: 10px;
  font-size: 30px;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.HelpPage button:hover {
  background-color: rgb(103, 66, 213);
  color: black;
}

.HelpPage .click {
  text-decoration: none;
  color: red;
    background: 
      linear-gradient(red 0 0) no-repeat
      var(--p, 200%) 100% / 200% var(--p, .08em);
    transition: .3s var(--t, 0s), background-position .3s calc(.3s - var(--t, 0s));
}

.HelpPage .click:hover {
    --p: 100%;
    --t: .3s;
    color: black;
  }
