.NavBar {
  font-family: 'New Super Mario Font U', sans-serif;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar a {
  font-family: 'New Super Mario Font U', sans-serif;
  color: red;
  font-size: 25px;
  text-decoration: none;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.NavBar span {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.DarkMode {
  margin-right: 10px; 
}

.NavBar a:hover {
  font-family: 'New Super Mario Font U', sans-serif;
  color: rgb(249, 218, 93);
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
}


@media (max-width: 480px) {
  .hamburger {
    display: block;
  }

  .NavBar a {
    font-size: 15px;
  }
  
  .NavBar span {
    font-size: 15px;
  }

    .menu {
    display: none;
    flex-direction: row;
    width: 100%;
    /* background-color: white; */
    position: absolute;
    top: 40px; /* Adjust based on your NavBar height */
    left: 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }
  
  .menu.open {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: row;
    width: 100%;
    /* background-color: white; */
    position: absolute;
    top: 40px; /* Adjust based on your NavBar height */
    left: 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }

  .menu.open {
    display: flex;
    justify-content: space-around;
  }

  .NavBar a {
    font-size: 15px;
    margin: 10px 0;
  }

  .NavBar span {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: row;
    width: 100%;
    /* background-color: white; */
    position: absolute;
    top: 40px; /* Adjust based on your NavBar height */
    left: 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }
  .menu.open {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .menu {
    display: flex;
    justify-content: space-between;
  }

  .NavBar a {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px){
  .menu {
    display: flex;
    justify-content: space-between;
  }

  .NavBar a {
    padding: 0 15px;
  }
}

@media (min-width: 1920px){
  .menu {
    display: flex;
    justify-content: space-between;
  }

  .NavBar a {
    padding: 0 15px;
  }
}