.NavBar {
  font-family: 'New Super Mario Font U', sans-serif;
  color: red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.NavBar a {
  font-family: 'New Super Mario Font U', sans-serif;
  color: red;
  font-size: 25px;
  text-decoration: none;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.NavBar span {
  font-size: 25px;
}

.NavBar a:hover {
  font-family: 'New Super Mario Font U', sans-serif;
  color: rgb(249, 218, 93);
  text-decoration: none;

}

