.MyPastQuizPage {
  font-family: 'New Super Mario Font U', sans-serif;
  text-align: center;
}

.MyPastQuizPage h1{
  color: red;
  font-size: 80px;
  -webkit-text-stroke: 0.5px rgb(56, 192, 95);
}

.MyPastQuizPage h3{
  color: rgb(56, 192, 95);
  font-size: 50px;
  -webkit-text-stroke: 0.5px white;
}

.MyPastQuizPage .past-quiz-display{
  display: flex;
  align-items: center;
  justify-content: center;
}

.MyPastQuizPage p{
  color: rgb(56, 192, 95);
  font-size: 30px;
  -webkit-text-stroke: 1px white;
}

.MyPastQuizPage table {
  color: rgb(249, 218, 93);
  font-family: 'New Super Mario Font U', sans-serif;
  font-size: 30px;
  text-align: center;
}

.MyPastQuizPage .click {
  text-decoration: none;
  color: red;
    background: 
      linear-gradient(red 0 0) no-repeat
      var(--p, 200%) 100% / 200% var(--p, .08em);
    transition: .3s var(--t, 0s), background-position .3s calc(.3s - var(--t, 0s));
}

.MyPastQuizPage .click:hover {
    --p: 100%;
    --t: .3s;
    color: black;
}