.LeaderBoardPage {
  font-family: 'New Super Mario Font U', sans-serif;
}

.LeaderBoardPage h1{
  color: red;
  font-size: 80px;
  -webkit-text-stroke: 0.5px rgb(56, 192, 95);
}

.LeaderBoardPage select{
  font-family: 'New Super Mario Font U', sans-serif;
  color: white;
  background-color: rgb(56, 192, 95);
  border-radius: 10px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.LeaderBoardPage table {
  color: rgb(249, 218, 93);
  font-size: 30px;
  text-align: center;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.custom-table th {
  background-color: red;
  border: 2px solid red;
  padding: 8px;
  text-align: center;
  color: black;
}

.custom-table td {
  border: 2px solid red;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  -webkit-text-stroke: 0.8px red;
}

.LeaderBoardPage .click {
  font-size: 15px;
  text-decoration: none;
  color: red;
    background: 
      linear-gradient(red 0 0) no-repeat
      var(--p, 200%) 100% / 200% var(--p, .08em);
    transition: .3s var(--t, 0s), background-position .3s calc(.3s - var(--t, 0s));
}

.LeaderBoardPage .click:hover {
    --p: 100%;
    --t: .3s;
    color: black;
}