body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  background-color: rgb(56, 192, 95);
  border: rgb(103, 66, 213) solid 3px;
}

.form-container label {
  color: rgb(103, 66, 213);
}

.form-container input {
  background-color: black;
  color: rgb(103, 66, 213);
  font-family: 'New Super Mario Font U', sans-serif;
  border: rgb(103, 66, 213) solid 3px;
}

.form-container button {
  color: rgb(103, 66, 213);
  background-color: black;
}

