.FinalResult {
  background-color: rgb(56, 192, 95);
  padding: 20px;
  width: 60%;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
  border: rgb(103, 66, 213) 2px solid;
}

.FinalResult h2 {
  color: red;
  font-size: 65px;
  -webkit-text-stroke: 0.4px white;
}

.FinalResult h3 {
  color: red;
  font-size: 40px;
  -webkit-text-stroke: 0.4px white;
}

.FinalResult a {
  background-color: rgb(249, 218, 93);
  border:  red solid 3px;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin: 30px;
  font-size: 20px;
  text-align: center;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.FinalResult a:hover {
  background-color: black;
  border: red solid 3px;
  color: rgb(249, 218, 93);
}

.FinalResult .links {
  display: flex;
}